/*  if this browser acted normally, I wouldn't have to have this css as big as it is */


		body {
		margin: 0;
		background-color:#1e1e1e;
		color:white;
		font-size:20px;
		}


        a {
        text-decoration: none;
        color: white;
        }


        .nav {
		height:75px;
		width:96%;
		background-color:#161515;
		padding:0px 20px 0px 20px;
		position: fixed;
		z-index: 10;
        }
		
		.browserctrl {
		padding-top:8px;
		width:55px;
		padding-left:4px;		
		height:auto;
		float:right;
		}
		
		.browserctrl:hover {
		width:55px;
		height:auto;
		opacity: 0.7;
		}
		
		.browserctrl:active {
		padding-right:5px;
		padding-top:16px;
		width:50px;
		height:auto;
		opacity: 0.2;
		}
		
		.ctrlposition {
		padding-top:2px;			
		padding-right:14px;	
		float:right;		
		}	
		
		.browserctrldiv {
		padding-top:12px;
		padding-left:19px;		
		width:3px;
		height:47px;
		float:right;
		opacity:0.3;
		}
		
		
		.browserctrlfresh {
		padding-top:8px;
		padding-left:18px;
		width:56px;
		height:auto;
		float:right;
		}
		
		.browserctrlfresh:hover {
		width:56px;
		height:auto;
		opacity: 0.7;
		}
		
		.browserctrlfresh:active {
		padding-right:6px;
		padding-top:16px;
		width:50px;
		height:auto;
		opacity: 0.2;
		}
		
		.navlogo {
		padding-left:10px;	
		}
		
		.navlogo:hover {
		opacity: 0.7;
		}
		
		.navlogo:active {
		opacity: 0.2;
		}
		

		
		
		.sidebar {
		height:100%;
		width:126px;
		background-color:#161515;
		z-index: 8;
		}
		
		.sidebuttons {
        top: -30px;			
		width:126px;
		z-index: 8;
		}	
		
		.navbutton {
		background-color:#252424;
		display:block;
		padding:5px;
		}
		
		.navbutton:hover {
		background-color:#3e3d3d;
		}
		
		

		
		
		.textbox {
			background-color:#161515;
			padding:40px;
			width:592px;
        }
		
		.innertextbox {
		background-color:#110f0f;	
		padding:10px;
		}
		
		
		.footer {
            position: relative;
            display: inline-block;
			vertical-align:top;
			width:100%;
        }
        .footer img {
			margin:0;
            display: block;
            height: auto;
        }
        .footertext {
            position: absolute;
            top: 10px;
            left: 40px;
            color: white;
            font-size: 16px;
            font-weight: bold;
            z-index: 1;
			margin:0;
        }
		
		.footertext a {	
		color:#ffefd4;	
		vertical-align:top;
		}
		
		.footertext a:hover {
		font-size:20px;
		text-decoration: underline;	
		}
		
		.footertextright {
            position: absolute;
            top: 10px;
            right: 40px;
            color: white;
            font-size: 16px;
            font-weight: bold;
            z-index: 1;
			margin:0;
        }
		
		.footertextcenter {
            position: absolute;
            top: 10px;
            right: 40px;
            color: white;
            font-size: 16px;
            font-weight: bold;
            z-index: 1;
			margin:0;
			padding:288px 160px 0px 0px;
        }
		
		.footertextsidebar {
            position: absolute;
            top: 10px;
            left: 160px;
            color: white;
            font-size: 16px;
            font-weight: bold;
            z-index: 1;
			margin:0;
        }
		
		.footertextrightsidebar {
            position: absolute;
            top: 10px;
            right: 35px;
            color: white;
            font-size: 16px;
            font-weight: bold;
            z-index: 1;
			margin:0;
        }
		
		.footertextcentersidebar {
            position: absolute;
            top: 10px;
            right: -17px;
            color: white;
            font-size: 16px;
            font-weight: bold;
            z-index: 1;
			margin:0;
			padding:288px 160px 0px 0px;
        }
		
		.footertextsidebar a {	
		color:#ffefd4;	
		vertical-align:top;
		}
		
		.footertextsidebar a:hover {
		font-size:20px;
		text-decoration: underline;	
		}
		
		.footerlegaltexteula {
			opacity:0.7;
			margin-top: 16px;
			padding-left:50px;			
		}
		
		.footerlegaltexteula:hover{
			opacity:1;
			font-size:24px;
			line-height: 1;
			margin-top: -16px; 		
			padding-left:28px;
		}
		
		.footerlegaltextprivacy {
			opacity:0.7;
			margin-top: 16px;
			padding-left:50px;			
		}
		
		.footerlegaltextprivacy:hover{
			opacity:1;
			font-size:24px;
			line-height: 1;
			margin-top: -16px; 		
			padding-left:0px;
		}
		
		.footerlegaltexttos {
			opacity:0.7;
			margin-top: 16px;
			padding-left:50px;			
		}
		
		.footerlegaltexttos:hover{
			opacity:1;
			font-size:24px;
			line-height: 1;
			margin-top: -16px; 		
			padding-left:28px;
		}
		
		#footerImage {
		height:301px;
		z-index: 1;
		}	
		
		
	@media screen and (max-width: 609px) {
		
		.nav {
		width:95%;
        }
		
		.browserctrl {
		padding-top:8px;
		padding-left:5px;		
		}
		
		.browserctrlfresh {
		padding-top:8px;
		padding-left:17px;
		}
		
		.browserctrl:active {
		padding-right:5px;
		padding-top:16px;
		}
		
		.browserctrlfresh:active {
		padding-right:6px;
		padding-top:16px;
		}
		
		.ctrlposition {
		padding-top:3px;			
		padding-right:3px;			
		}

		.navlogo {
		padding-left:0px;	
		}
		
		.footertextcenter {
			padding:303px 0px 0px 0px;
        }
		
		.footerlegaltexteula {
			opacity:0.7;
			margin-top: 16px;
			padding-left:30px;			
		}
		
		.footerlegaltexteula:hover{
			opacity:1;
			font-size:24px;
			line-height: 1;
			margin-top: -16px; 		
			padding-left:8px;
		}
		
		.footerlegaltextprivacy {
			opacity:0.7;
			margin-top: 16px;
			padding-left:30px;			
		}
		
		.footerlegaltextprivacy:hover{
			opacity:1;
			font-size:24px;
			line-height: 1;
			margin-top: -16px; 		
			padding-left:0px;
		}
		
		.footerlegaltexttos {
			opacity:0.7;
			margin-top: 16px;
			padding-left:30px;			
		}
		
		.footerlegaltexttos:hover{
			opacity:1;
			font-size:24px;
			line-height: 1;
			margin-top: -16px; 		
			padding-left:28px;
		}
		
		
		
		
		.footertextsidebar {
            top: 10px;
            left: 146px;
        }
		
		.footertextrightsidebar {
            top: 10px;
            right: 25px;
        }
		
		.footertextcentersidebar {
            right: -125px;
        }
		
		
		
		
		
		
		#footerImage {
		height:307px;
		}	
		
	}