---
import Layout from "../layout/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<Layout />
<Navbar />
<div style="padding-top:70px;">
  <p style="text-align:center;padding:5px;font-size:70px;"><b>404</b></p>
  <p style="text-align:center;padding:0px;font-size:40px;">Check back Later!</p>
</div>

<Footer />

<script is:inline src="/sharedcode/global.js"></script>