---
import Layout from "../layout/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
---

<Layout />
<Navbar />
<Sidebar />
<div style="padding-top:70px;padding-left:160px;">
  <p>
    Website designed and coded by <img
      style="width:27px;height:auto;vertical-align:middle;display:inline;padding-bottom:5px;"
      src="graphics/logos/Mayro.png"
    />KingMayro<br /><br />Temporary page. Gonna come back and pretty up the
    page at some point, but you can view the WiiLink team at www.wiilink24.com.
  </p>
</div>

<div style="margin-left:126px;">
  <Footer />
</div>

<script is:inline src="/sharedcode/global.js"></script>
