---
import Layout from "../layout/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
---

<Layout />
<Navbar />
<Sidebar />

<div style="padding-top:70px;padding-left:160px;">
  <p>This is a generic page! Use this as a template for other pages.</p>
</div>

<div style="margin-left:126px;">
  <Footer />
</div>

<script is:inline src="/sharedcode/global.js"></script>
