<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">



	<style>

		body {
		margin: 0;
		background-color:#1e1e1e;
		color:white;
		font-size:20px;
		
		}
		
        a {
            text-decoration: none;
            color: white;
        }


        .nav {
		height:85px;
		width:96%;
		background-color:#161515;
		padding:0px 20px 0px 20px;
		position: fixed;
		z-index: 2;
        }
		
		.browserctrl {
		padding-top:13px;
		width:55px;
		height:auto;
		float:right;
		}
		
		
		
		.sidebar {
		height:800px;
		width:180px;
		background-color:#161515;
		}
		
		.navbutton {
		background-color:#252424;
		display:block;
		padding:5px;
		}
		
		.navbutton:hover {
		background-color:#3e3d3d;
		}
		

		
		
		.textbox {
		background-color:#161515;
		padding:40px;
		width:572px;
        }
		
		
		
		.wave-container {
        display: inline-block;
		padding-top:15px;
		font-size:27px;

        }
		.wave {
        display: inline-block;
        white-space: pre;
        }
        .wave span {
        position: relative;
        display: inline-block;
        }
		.wave span:hover {
            color: #0060df;
        }
		
		
		.image-container {
            position: relative;
            display: inline-block;
        }
        .image-container img {
            display: block;
            width: 100%;
            height: auto;
        }
        .image-container .image-text {
            position: absolute;
            top: 10px;
            left: 40px;
            color: white;
            font-size: 16px;
            font-weight: bold;
            padding-bottom: 80px;
            z-index: 1;
        }
		

	</style>

</head>


<body>

    <div class="nav">
		<div>
			<img style="padding-top:15px;width:150px;height:auto;" src=Wii_Link_Logo.png>


			<img class=browserctrl style="padding-left:20px;" onclick="refreshPage()" src=refresh.png>			
			<img class=browserctrl onclick="goForward()" src=forward.png>
			<img class=browserctrl onclick="goBack()" src=back.png>
		</div>
    </div>
	

			<div style="position: fixed;width:180px;padding-top:120px;text-align:center;">
			
				<a class=navbutton href=wiilink.html><img style="width:27px;height:auto;vertical-align:middle;padding:0px 5px 5px 0px;" src=home.png><b>Home</b></a>
					<div style="padding-top:3px;"></div>
				<a class=navbutton href=wiilink.html><img style="width:27px;height:auto;vertical-align: middle;padding:0px 5px 5px 0px;" src=guide.png><b>Guide</b></a>
					<div style="padding-top:3px;"></div>
				<a class=navbutton href=wiilink.html><img style="width:27px;height:auto;vertical-align: middle;padding:0px 5px 5px 0px;" src=services.png><b>Services</b></a>	

	
			</div>



		<div class=sidebar style="padding-top:0px;display:table-cell;">


		</div>
	
	

	<div style="display:table-cell;padding-top:70px;">
		<div class=textbox>
			

			
			<img src=../WuwuFlower.gif style="width:150px;height:auto;">
			<p>The Wii Room browser is a fairly stripped back browser. You'll have to program in your own refresh, and previous and next buttons due to the lack of them in the ui. The browser is slow when it comes to rendering lots of images, so try to cut back on images. Also, the browser has a chance of randomly erroring because of image stuff. I would have put this little guy on the main page, but I was worried it would cause a crash. Speaking of him, the browser is very weird about gifs. If the gif is "too small" (below around 150px of width and height) it will not play properly, only playing when you scroll.</p>

		</div>
		
		
		<div>
		
			
		
		
		
		
		<div>
		
			<div class="image-container">
				<img style="padding-top:70px;width:652px;height:auto;display:block;" src=Footer.jpg>
				<img class="image-text" style="width:120px;padding-top:100px;height:auto;" src=logo.png><p style="font-size:20px;padding-top:190px;" class="image-text">Wii Room Browser demo. website created by King Mayro</p><p style="padding-top:230px;" class="image-text">Wii Room revival by <img style="width:80px;height:auto;vertical-align:middle;display:inline;" src=Wii_Link_Logo.png></p>
			</div>

		</div>		
		
		
	</div>
	
	

	
	
	
	
</body>



    <script>
	
	
	


 
        (function() {
            var waveBox = document.getElementById('wave-box');
            var container = document.getElementById('wave-container');
            var text = container.innerText || container.textContent;
            var letters = text.split('');
            container.innerHTML = '';

            for (var i = 0; i < letters.length; i++) {
                var span = document.createElement('span');
                span.innerHTML = letters[i];
                container.appendChild(span);
            }

            var waveHeight = 6; // Pixels
            var waveLength = 50; // Number of letters in a full wave cycle
            var speed = 30; // Milliseconds between each frame
            var angle = 0;
            var intervalId = null;
            var isHovering = false;

            function animateWave() {
                if (isHovering) {
                    var spans = container.getElementsByTagName('span');
                    for (var i = 0; i < spans.length; i++) {
                        spans[i].style.top = Math.sin((angle + i) / waveLength * 2 * Math.PI) * waveHeight + 'px';
                    }
                    angle += 1;
                }
            }

            function resetWave() {
                var spans = container.getElementsByTagName('span');
                for (var i = 0; i < spans.length; i++) {
                    spans[i].style.top = '0px';
                }
            }

            waveBox.onmouseover = function() {
                if (!isHovering) {
                    isHovering = true;
                    intervalId = setInterval(animateWave, speed);
                }
            };

            waveBox.onmouseout = function() {
                if (isHovering) {
                    isHovering = false;
                    clearInterval(intervalId);
                    var spans = container.getElementsByTagName('span');
                    for (var i = 0; i < spans.length; i++) {
                        (function(span, currentTop) {
                            var step = (currentTop - 0) / 10;
                            var counter = 0;
                            function smoothReset() {
                                if (counter < 10) {
                                    span.style.top = (parseFloat(span.style.top) - step) + 'px';
                                    counter++;
                                    setTimeout(smoothReset, speed);
                                } else {
                                    span.style.top = '0px';
                                }
                            }
                            smoothReset();
                        })(spans[i], parseFloat(spans[i].style.top));
                    }
                }
            };

            var spanElements = container.getElementsByTagName('span');
            for (var j = 0; j < spanElements.length; j++) {
                spanElements[j].onmouseover = function() {
                    this.style.color = 'blue';
                };
                spanElements[j].onmouseout = function() {
                    this.style.color = '';
                };
            }
        })();

		

        function refreshPage() {
            location.reload();
        }

        function goBack() {
            history.back();
        }

        function goForward() {
            history.forward();
        }
		
    </script>


</html>
