---
import Layout from "../layout/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
---

<Layout />
<Navbar />
<Sidebar />
<div style="padding-top:70px;padding-left:160px;">
  <p>
    <img style="vertical-align:middle;" src="graphics/logos/mayro.png" />Hiiiya,
    I made the site!
  </p>
</div>

<div style="margin-left:126px;">
  <Footer />
</div>

<script is:inline src="/sharedcode/global.js"></script>
