---
import Layout from "../layout/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
---

<Layout />
<Navbar />
<Sidebar />

<div style="padding-top:90px;padding-left:150px;">
  <p style="font-size:70px;display:inline-block;margin:0;"><b>The Terms</b></p>
  <div class="lastupdated" style="vertical-align:top;">
    <p style="background-color:#161515;padding:6px;">
      Last Updated: 08/03/2023
    </p>
  </div>
  <p style="color:gray;font-size:27px;margin:0;padding-bottom:30px;">
    Terms of usage for the WiiLink family of services
  </p>

  <p>
    This agreement is for usage of WiiLink, a replacement WiiConnect24 service,
    as well as services we provide via our DNS.
  </p>
</div>

<p
  style="text-align:center;padding:10px;padding-left:145px;background-color:#fff3cd;color:#161515;font-size:18px;"
>
  <b
    >By using this service you automatically agree to these terms and
    conditions.</b
  >
</p>

<div style="padding-left:150px;padding-right:10px;">
  <p>
    This is an agreement between you and WiiLink, and it's developers, as well
    as the services accessible via the DNS. WiiLink will be referred to as
    “WiiLink” or “WL”.
  </p>

  <p style="font-size:45px;margin:0;padding-top:50px;">
    Nintendo's Online Services
  </p>
  <p style="font-size:26px;margin:0;padding-top:30px;">
    <b>Article 1:</b>
    <u>Real legal stuff from Nintendo</u>
  </p>
  <p>
    This agreement covers your use of the Wii Shop channel.
    <br /><br />• Further to the terms of this agreement and, where applicable,
    the Wii Shop Channel Service agreement, this agreement also includes the
    following documents:
    <br /><br />• The Wii Network Services Code of Conduct. The purpose of this
    document is to keep the Wii Network Services a friendly and safe
    environment.
    <br /><br />The Wii Network Services privacy policy. This document provides
    you with an understanding of the information that is submitted and collected
    through the Wii Network Services.
    <br /><br />We strongly recommend that you review both of these documents
    before accepting the terms of this agreement. The complete versions of these
    documents are available at http://wii.nintendo-europe.com/terms.
    <br /><br />by accepting the terms of the Wii Network Services agreement,
    you are also unreservedly accepting all of the terms of these documents.
  </p>

  <p style="font-size:26px;margin:0;padding-top:30px;">
    <b>Article 2:</b>
    <u>Grant of Licence</u>
  </p>
  <p>
    We grant you a personal, limited, non-exclusive, revocable licence to use
    the Wii Network Services, in accordance with this agreement. Specifically:
    <br /><br />○The Wii Network Services is solely for your own personal
    recreational use. However, you are responsible for your use and for anyone
    else’s use of the Wii Network Services through your Wii console, whether or
    not you give them permission to do so.
    <br /><br />○You may not transfer or assign this licence to another person
    or entity, and any attempt to transfer or assign this licence will be void.
    <br /><br />○You may not use or attempt to use the Wii Network Services for
    any commercial or illegal purpose, or in a way that may harm another person
    or company, or in an unauthorised or otherwise improper manner as we may
    specify from time to time.
    <br /><br />○You are responsible for clearing all Content, including games
    and other software downloaded through the Wii Shop Channel, and any personal
    data, and all other stored sensitive information that is resident on your
    Wii console prior to selling or otherwise transferring your Wii console to
    any third party. If you acquire a used Wii console, you are also responsible
    for clearing all Content, personal data, and all other stored sensitive
    information that may be resident on that Wii console at the time you acquire
    it.
  </p>

  <p style="font-size:45px;margin:0;padding-top:50px;">WiiLink</p>
  <p style="font-size:26px;margin:0;padding-top:30px;">
    <b>Article 3:</b>
    <u>WiiLink</u>
  </p>
  <p>
    By registering for the Wii Network Services and WiiLink you agree that we
    may provide you with WiiLink services. Some of these may be provided via
    Standby Connection.
  </p>

  <p style="font-size:26px;margin:0;padding-top:30px;">
    <b>Article 4:</b>
    <u>Upgrades and Changes</u>
  </p>
  <p>
    The owners of WiiLink may upgrade (patch) any software distributed through
    WiiLink or change the Internet content of WiiLink, in part or in whole, at
    any time. However, any such upgrade or change will be for the benefit of
    users of WiiLink.
  </p>

  <p style="font-size:45px;margin:0;padding-top:50px;">Other</p>
  <p style="font-size:26px;margin:0;padding-top:30px;">
    <b>Article 5:</b>
    <u>Intellectual property</u>
  </p>
  <p>
    All WiiLink's servers are based off reverse engineering or packet dumps of
    legitimate WiiConnect24 files; thus, all patchers, content creators, and
    scripts are © WiiLink 2020-2024
  </p>

  <p style="font-size:26px;margin:0;padding-top:30px;">
    <b>Article 6:</b>
    <u>Protection of Personal Information</u>
  </p>
  <p>
    As part of WiiLink's service, we provide an optional mail service through
    the Wii Message Board. Inbound and outbound mail is stored in a database in
    our server. We will never attempt to access the mail unless a server issue
    arises. If you have a complaint regarding a user sending inappropriate mail,
    please remove them from your friends list. WiiLink cannot view or modify
    your friends list.
  </p>

  <p style="font-size:26px;margin:0;padding-top:30px;">
    <b>Article 7:</b>
    <u>Agreement Updates</u>
  </p>
  <p>
    WiiLink may change the terms and conditions of this agreement, including the
    Wii Network Services Code of Conduct and the Wii Network Services privacy
    policy which are both made a part of this agreement, at any time as far so
    this is necessary or helpful to enhance the service or to adapt it to
    reflect changes in technical or legal requirements.
    <br /><br />A current version of this agreement will always be available on
    the Internet at https://wiilink24.com/tos We will post a message on the Wii
    Message board informing you about a change to this agreement at least 5 days
    before the change becomes official.
  </p>

  <p style="font-size:26px;margin:0;padding-top:30px;">
    <b>Article 8:</b>
    <u>Non-Assignability</u>
  </p>
  <p>
    You are responsible for use of your Wii console and the Wii Network Services
    by your friends and family. You may not assign this agreement to a third
    party.
  </p>

  <p style="font-size:26px;margin:0;padding-top:30px;">
    <b>Article 9:</b>
    <u>Agreement Interpretation</u>
  </p>
  <p>
    If any part of this agreement is found to be invalid or unenforceable, that
    part of the agreement will no longer apply. You agree that the invalid part
    will be considered deleted from the agreement, but that all other parts of
    the agreement will remain in effect. You further agree that we may replace
    the invalid part by a provision which reflects or comes closest to
    reflecting the initial intention.
  </p>

  <p style="font-size:26px;margin:0;padding-top:30px;">
    <b>Article 10:</b>
    <u>Definitions</u>
  </p>
  <p>
    “Content” means the software and content, including applications called
    “Channels”, which Nintendo owns, or has obtained the right to use,
    distribute or sublicense, and which is available for downloading through the
    Wii Shop Channel Service, or through other means.
    <br /><br />“Nintendo Intellectual property” means all intellectual property
    associated with the Wii console and the Wii Network Services, including but
    not limited to trademarks, service marks, logos, designs, copyrights,
    inventions, patents, trade secrets, know-how and other confidential and
    proprietary information which Nintendo developed, owns or is granted a
    licence to use.
    <br /><br />“Wii points” means the points which you purchase from Nintendo
    through the Wii Shop Channel Service or via Wii points Cards and which may
    be used by you in exchange for a licence to use Content or to purchase
    products.
    <br /><br />“products” means any goods other than Content which are made
    available for purchase through the Wii Shop Channel Service.
    <br /><br />“WiiLink” means the service whereby WiiLink can distribute
    software, material, e-mail and other data to your Wii console, and the Wii
    Message board of your Wii console, at any time and whereby you can send and
    receive e-mails, photographs and other material using your Wii console.
    <br /><br />“Wii console” means Nintendo’s system sold and marketed by
    Nintendo under the Wii brand, including any succeeding systems and
    compatible systems.
    <br /><br />“Wii Network Services” means the Wii Shop Channel Service,
    WiiConnect24, and any related services and material delivered to your Wii
    console over the Internet, including but not limited to Content, products
    and Wii points.
    <br /><br />“Wii Network Services Code of Conduct” means the code of conduct
    applicable to the Wii Network Services as revised by us from time to time, a
    current version of which will always be available at
    http://wii.nintendo-europe.com/terms
    <br /><br />“Wii Network Services privacy policy” means the privacy policy
    applicable to the Wii Network Services as revised by us from time to time, a
    current version of which will always be available at
    http://wii.nintendo-europe.com/terms
    <br /><br />“Wii points Card” means prepaid cards sold or distributed by
    Nintendo or Nintendo’s promotional partners which contain credits for Wii
    points.
    <br /><br />“Wii Shop Channel Account” means a non-transferable personal
    account that will be established on your Wii console upon acceptance of
    these terms and the Wii Shop Channel Service terms of use, and which you use
    in connection with the Wii Shop Channel Service.
    <br /><br />“Wii Shop Channel Service” means the services related to the Wii
    Shop Channel Account, Wii points, products, online store, and download
    service, all of which Nintendo directly or indirectly operates, as outlined
    in this agreement.
  </p>
</div>

<div style="margin-left:126px;">
  <Footer />
</div>

<script is:inline src="/sharedcode/global.js"></script>
