<div class="sidebar" style="position: fixed;">
  <div
    class="sidebuttons"
    style="position: fixed;padding-top:120px;text-align:center;"
  >
    <a class="navbutton" href="index.html"
      ><img
        style="width:27px;height:auto;vertical-align: middle;padding:0px 5px 5px 0px;"
        src="/graphics/buttons/home.png"
      /><b>Home</b></a
    >
    <div style="padding-top:3px;"></div>
    <a class="navbutton" href="services.html"
      ><img
        style="width:27px;height:auto;vertical-align: middle;padding:0px 5px 5px 0px;"
        src="/graphics/buttons/services.png"
      /><b>Services</b></a
    >
    <div style="padding-top:3px;"></div>
    <a class="navbutton" href="credits.html"
      ><img
        style="width:27px;height:auto;vertical-align: middle;padding:0px 5px 5px 0px;"
        src="/graphics/buttons/web.png"
      /><b>Credits</b></a
    >
    <div style="padding-top:3px;"></div>
    <a class="navbutton" href="extras.html"
      ><img
        style="width:27px;height:auto;vertical-align: middle;padding:0px 5px 5px 0px;"
        src="/graphics/buttons/guide.png"
      /><b>Extras</b></a
    >
  </div>
</div>
